<h1>Sign In</h1>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "form-signin"}) do |f| %>

  <%- flash.each do |name, msg| -%>
  <div class="alert alert-danger">
      <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>
  </div>
  <%- end -%>

  <%= devise_error_messages! %>

  <%= f.input :email, placeholder: 'Email', label: false %>
  <%= f.input :password, placeholder: 'Password', label: false %>
  <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary btn-block") do %>
     Sign in
  <% end %>
  <%= link_to "Forgotten your password?", new_password_path('user'), :class => "forgotten-password" %>
  <span class="clearfix"></span>
<% end %>
