<div class="modal-body image-options">
  <h3>Add your image</h3>
  <hr />
  <div class="well">
    <div class="row">
      <div class="col-sm-4 preview-frame">
        <%= image_tag @image.file.admin_thumb %>
      </div>
      <div class="col-sm-8">
        <div class="form-group">
          <label for="alt_text">Alt Text</label>
          <input type="text" id="alt_text" value="<%= @image.name.titlecase %>" class="form-control" placeholder="Image alternate text"/>
        </div>
        <div class="form-group">
          <label id="alignment-label" for="alignment">Alignment</label>
          <select id="alignment" name="alignment" class="form-control">
            <option value="none">None</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
            <option value="center">Center</option>
          </select>
        </div>
        <div class="form-group">
          <label for="size">Size</label>
          <select id="size" name="size" class="form-control">
            <% @image.file.versions.each do |version| %>
              <% unless version.first == :admin_thumb %>
                <option value="<%= version.last %>"><%= version.first.to_s.titlecase %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label for="link_to">Link To</label>
          <select id="link_to" name="link_to" class="form-control link-to-select">
            <option value="none">None</option>
            <option value="url">URL</option>
            <% @image.file.versions.each do |version| %>
              <% unless version.first == :admin_thumb %>
                <option value="<%= version.last %>"><%= version.first.to_s.titlecase %> Image</option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="form-group link_url hide">
          <label for="link_url">URL</label>
          <input type="text" id="link_url" class="form-control" placeholder="http://your-link.co.uk"/>
        </div>
        <button id="insert" class="btn btn-primary">Insert</button>
      </div>
    </div>
  </div>
</div>
