<%= render :partial => 'o_cms/images/modal' %>

<%= form_for @page do |f| %>
  <% if page.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(page.errors.count, "error") %>.</h4>
      <ul>
        <% page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(page.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control form-control-lg', placeholder: "Enter page title" %>
  <% end %>

  <!-- <div class="form-group row">
      <label class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" placeholder="you@example.com">
      </div>
    </div> -->

  <%= form_group_tag(page.errors[:slug]) do %>
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control', placeholder: "Enter page slug" %>
  <% end %>
  <%= form_group_tag(page.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.trix_editor :body, class: 'form-control page_body', placeholder: "Enter page body" %>
  <% end %>
  <%= form_group_tag(page.errors[:excerpt]) do %>
    <%= f.label :excerpt %>
    <%= f.text_area :excerpt, rows: 3, class: 'form-control', placeholder: "Enter page excerpt" %>
  <% end %>
  <%= form_group_tag(page.errors[:featured_image]) do %>
    <%= f.label :featured_image %>
    <div class="input-group">
      <%= f.text_field :featured_image, class: 'form-control' %>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Select image</button>
      </span>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      Publish Options
    </div>
    <div class="card-block">
      <div class="row">
          <div class="col-sm-6">
            <% if @page.present? %>
              <% if @page.status == 'published' && @page.published_at.present? %>
                <div class="alert alert-info alert-published">
                  <strong>Published on <%= @page.published_at.to_s(:short) %></strong>
                </div>
              <% elsif @page.status == 'scheduled' && @page.published_at.present? %>
                <div class="alert alert-info alert-scheduled">
                  <strong>Scheduled for <%= @page.published_at.to_s(:short) %></strong>
                </div>
              <% end %>
            <% end %>
            <%= form_group_tag(page.errors[:status]) do %>
              <%= f.label :status %>
              <%= f.select(:status, OCms::Page::STATUSES, {include_blank: false}, { :class => 'form-control status-options'}) %>
            <% end %>
          </div>
          <div class="col-sm-6">
            <%= form_group_tag(page.errors[:published_at]) do %>
            <div class="publish_at_fields">
              <div class="alert alert-info">
                Enter the date and time you would like to publish the page, in the format -<br />
                <strong>YYYY-MM-DD HH:MM:SS</strong>.
              </div>
              <%= f.text_field :published_at, class: 'form-control', placeholder: "YYYY-MM-DD HH:MM:SS" %>
            </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Search Engine Optimisation
    </div>
    <div class="card-block">
      <%= form_group_tag(page.errors[:meta_title]) do %>
        <%= f.label :meta_title %>
        <%= f.text_field :meta_title, class: 'form-control', placeholder: "Enter page meta title" %>
      <% end %>
      <%= form_group_tag(page.errors[:meta_description]) do %>
        <%= f.label :meta_description %>
        <%= f.text_area :meta_description, rows: 4, class: 'form-control', placeholder: "Enter page meta description" %>
      <% end %>
      <%= form_group_tag(page.errors[:meta_keywords]) do %>
        <%= f.label :meta_keywords %>
        <%= f.text_field :meta_keywords, class: 'form-control', placeholder: "Enter page meta keywords" %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
