<tr class="page-<%= page.id %>">
  <td class="title">
    <% unless type == 'page' %>
      <i class="fa fa-level-down <%= type %>"></i>
    <% end %>
    <%= page.title %></td>
  <td>
    <span class="tag tag-<%= page.status %>">
      <%= page.status.capitalize %>
    </span>
    <%= page.published_at.to_s(:short) if page.published_at.present?  %>
  </td>
  <td>
    <%= link_to edit_page_path(page), class:'btn btn-info btn-sm' do %>
      <i class="fa fa-mode-edit"></i> Edit
    <% end %>
  </td>
</tr>
