<h1>Change your password</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class => "form-signin password-recovery" }) do |f| %>
  <%= render :partial => 'users/shared/errors' %>

  <%= f.hidden_field :reset_password_token %>
  <%= form_group_tag(@user.errors[:password]) do %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password', label: false %>
  <% end %>
  <%= form_group_tag(@user.errors[:password_confirmation]) do %>
  	<%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation', label: false %>
  <% end %>
  <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary btn-block") do %>
     Change my password
  <% end %>
<% end %>
