<%= form_for @gallery do |f| %>
  <% if gallery.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(gallery.errors.count, "error") %>.</h4>
      <ul>
        <% gallery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(gallery.errors[:name]) do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: "Enter gallery name" %>
  <% end %>

  <div class="card">
    <div class="card-header">
      Images
    </div>
    <div class="card-block">
      <% if @images.present? %>
        <div class="form-group checkbox-group">
          <%= f.label "Select the categories you would like to associate with your gallery.", :class => 'control-label' %>
          <div class="gallery-options">
            <% @images.each do |image| %>
              <span>
                <%= check_box_tag 'gallery[image_ids][]',
                    image.id,
                    @gallery.images.include?(image),
                    id: 'gallery_image_ids_' + image.id.to_s %>
                <%= label_tag 'gallery_image_ids_' + image.id.to_s, image.name %>
                <%= image_tag image.file.admin_thumb, :class => 'gallery-image-option', alt: image.name %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_group_tag(gallery.errors[:description]) do %>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: 'form-control', placeholder: "Enter gallery description" %>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
